In [61]:
# Dependencies
import json
import pandas as pd
import csv
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from  textblob import TextBlob


# # Twitter API Keys 
# consumer_key = "yUHOWwWG9Pj3C8f21tnm4rWOb"
# consumer_secret = "JowHOFRinCn2DOOd7ZP8ToHkU83piXhZ0ZPUopHTW7grDS0XPI"
# access_token = "975055841089867776-GRHdjTQ4NuqwZNfevh4L54bxNgiw1Hu"
# access_token_secret = "nR7n7Qp5lduLHCH6rSF46gJi8YolN6pRLXnE63lghWc3T"

In [62]:
# # Setup Tweepy API Authentication
# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# auth.set_access_token(access_token, access_token_secret)
# api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

# # Get all tweets from home feed
# public_tweets = api.home_timeline()

# Import CSV file into Data Frame
tweeter_data = pd.read_csv("Output_tweeter_bitcoin.csv", dtype=str)

tweeter_data.head()
# len(df_tweeter_data)

,Unnamed: 0,date,favorites,geo,hashtags,id,retweets,text,username,keyword
0,0,2018-01-29 15:59:59,4,NaN,#Lunyr #LUN #Ethereum #Bitcoin #Blockchain,958127616095080449,0,Which universities would you like to work with...,OpenEthereum,btc
1,1,2018-01-29 15:59:58,0,NaN,#Criptomonedas #Bitcoin #Venezuela,958127610860580864,0,El Fabuloso Mundo de las #Criptomonedas #Bitco...,coincox,btc
2,2,2018-01-29 15:59:55,0,NaN,NaN,958127597577297920,0,Porque Podemos Fabricar Bitcoin con la mineria...,luisgodelavega,btc
3,3,2018-01-29 15:59:54,1,NaN,NaN,958127593412182016,0,Sign up for Robinhood to invest in Bitcoin and...,devdathug,btc
4,4,2018-01-29 15:59:52,0,NaN,NaN,958127588039450624,0,Bitcoin,RaenPiedmont,btc

In [63]:
df_tweeter_data = pd.DataFrame(tweeter_data)
df_tweeter_data.head()

,Unnamed: 0,date,favorites,geo,hashtags,id,retweets,text,username,keyword
0,0,2018-01-29 15:59:59,4,NaN,#Lunyr #LUN #Ethereum #Bitcoin #Blockchain,958127616095080449,0,Which universities would you like to work with...,OpenEthereum,btc
1,1,2018-01-29 15:59:58,0,NaN,#Criptomonedas #Bitcoin #Venezuela,958127610860580864,0,El Fabuloso Mundo de las #Criptomonedas #Bitco...,coincox,btc
2,2,2018-01-29 15:59:55,0,NaN,NaN,958127597577297920,0,Porque Podemos Fabricar Bitcoin con la mineria...,luisgodelavega,btc
3,3,2018-01-29 15:59:54,1,NaN,NaN,958127593412182016,0,Sign up for Robinhood to invest in Bitcoin and...,devdathug,btc
4,4,2018-01-29 15:59:52,0,NaN,NaN,958127588039450624,0,Bitcoin,RaenPiedmont,btc

In [64]:
columns = ['date','text','username','keyword']
df1_tweeter_data = pd.DataFrame(df_tweeter_data, columns=columns)
df1_tweeter_data.head()

,date,text,username,keyword
0,2018-01-29 15:59:59,Which universities would you like to work with...,OpenEthereum,btc
1,2018-01-29 15:59:58,El Fabuloso Mundo de las #Criptomonedas #Bitco...,coincox,btc
2,2018-01-29 15:59:55,Porque Podemos Fabricar Bitcoin con la mineria...,luisgodelavega,btc
3,2018-01-29 15:59:54,Sign up for Robinhood to invest in Bitcoin and...,devdathug,btc
4,2018-01-29 15:59:52,Bitcoin,RaenPiedmont,btc

In [65]:
len(df1_tweeter_data)

55800

In [66]:
df2_tweeter_data = df1_tweeter_data.drop_duplicates(["text","username"])
len(df2_tweeter_data)

9054

In [82]:
df2_tweeter_data=df2_tweeter_data.fillna('')

In [83]:
# Search for all tweets
tweets_text = df2_tweeter_data["text"]

# counter = 0
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
all_tweets = []

for tweet in tweets_text:
    if type(tweet) is str:
#     all_tweets.append(tweet)
#     tx= TextBlob(t)
#     counter+=1
#     print(counter)
#     print(tweet)
    
        compound = analyzer.polarity_scores(tweet)["compound"]
#         print(compound)
        pos = analyzer.polarity_scores(tweet)["pos"]
        neu = analyzer.polarity_scores(tweet)["neu"]
        neg = analyzer.polarity_scores(tweet)["neg"]
    
# # # Add each value to the appropriate list
        compound_list.append(compound)
        positive_list.append(pos)
        negative_list.append(neg)
        neutral_list.append(neu)
    
# # # Print the Averages
# print(compound_list)
print(len(compound_list))
# print(*************)
# print("+ve" + str(positive_list))
print(np.mean(positive_list))
print(len(negative_list))
print(len(neutral_list))
# print("-ve" + str(negative_list))
# print("neutral" + str(neutral_list))    
    
# # len(tweets_text)

9054
0.06979544952507179
9054
9054

In [74]:
import numpy as np
test = np.array(compound_list)

2932

In [84]:
df2_tweeter_data["Compound_score"] = compound_list

In [85]:
df2_tweeter_data.head()

,date,text,username,keyword,Compound_score
0,2018-01-29 15:59:59,Which universities would you like to work with...,OpenEthereum,btc,0.3612
1,2018-01-29 15:59:58,El Fabuloso Mundo de las #Criptomonedas #Bitco...,coincox,btc,0.0000
2,2018-01-29 15:59:55,Porque Podemos Fabricar Bitcoin con la mineria...,luisgodelavega,btc,0.0000
3,2018-01-29 15:59:54,Sign up for Robinhood to invest in Bitcoin and...,devdathug,btc,0.7263
4,2018-01-29 15:59:52,Bitcoin,RaenPiedmont,btc,0.0000

In [9]:
# wordlist=pd.DataFrame();

# polarity=[]
# subj=[]


# def sentiment_calc(text):
#     try:
#         return TextBlob(text).sentiment
#     except:
#         return None

# df2_tweeter_data['sentiment'] = df2_tweeter_data['text'].apply(sentiment_calc)
# # for t in df2_tweeter_data["text"]:
# #     tx= TextBlob(t)
# #     polarity.append(tx.sentiment.polarity)
# #     subj.append(tx.sentiment.subjectivity)

# # poltweet= pd.DataFrame({'polarity':polarity,'subjectivity':subj})
# # poltweet.polarity.plot(title='Polarity')
# # plt.show()

C:\Users\hbhanushali\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [30]:
df2_tweeter_data.head(5)

,date,text,username,keyword,sentiment
0,2018-01-29 15:59:59,Which universities would you like to work with...,OpenEthereum,btc,"(0.0, 0.0)"
1,2018-01-29 15:59:58,El Fabuloso Mundo de las #Criptomonedas #Bitco...,coincox,btc,"(0.0, 0.0)"
2,2018-01-29 15:59:55,Porque Podemos Fabricar Bitcoin con la mineria...,luisgodelavega,btc,"(0.0, 0.0)"
3,2018-01-29 15:59:54,Sign up for Robinhood to invest in Bitcoin and...,devdathug,btc,"(0.5, 0.8)"
4,2018-01-29 15:59:52,Bitcoin,RaenPiedmont,btc,"(0.0, 0.0)"